title: 草本故事館 
email: your-email@example.com 
description: >- 
  用故事認識中藥方劑，讓傳統醫學變得生動有趣 
baseurl: "/herbal-stories-v2" 
url: "https://10wang-creat.github.io" 
github_username: 10wang-creat 
 
# Build settings 
theme: minima 
plugins: 
  - jekyll-feed 
 
# Collections 
collections: 
  stories: 
    output: true 
    permalink: /stories/:name/ 
 
# Defaults 
defaults: 
  - scope: 
      path: "" 
      type: "stories" 
    values: 
      layout: "story" 
